docs/transferai-admin/20_n8n_Chatwoot_Auto_Reply_V1.json
{
  "name": "TransferAI Chatwoot Auto Reply V1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Chatwoot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "includeOtherFields": true,
        "fields": {
          "values": [
            {
              "name": "reply_text",
              "type": "string",
              "stringValue": "Bonjour et merci pour votre message. Pour bien vous orienter, pouvez-vous me préciser le nom de votre entreprise, votre secteur d’activité et votre besoin principal ?"
            }
          ]
        }
      },
      "id": "2",
      "name": "Build reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://app.chatwoot.com/api/v1/accounts/' + ($env.CHATWOOT_ACCOUNT_ID || '163278') + '/conversations/' + $json.body.conversation.id + '/messages'}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$env.CHATWOOT_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.reply_text, message_type: 'outgoing', private: false }) }}",
        "options": {}
      },
      "id": "3",
      "name": "Send reply to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Chatwoot Webhook": {
      "main": [
        [
          {
            "node": "Build reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build reply": {
      "main": [
        [
          {
            "node": "Send reply to Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "transferai-chatwoot-auto-reply-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": [
    {
      "name": "transferai"
    },
    {
      "name": "chatwoot"
    },
    {
      "name": "n8n"
    }
  ]
}
